<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
        default-autowire="byName">

    <dubbo:application name="dubbox-entity-provider" />
    <dubbo:registry address="zookeeper://172.16.7.113:2181" />
    <dubbo:protocol name="dubbo" serialization="kryo"/>


    <bean name="tActivityphotosService" class="com.szxs.service.impl.TActivityphotosServiceImpl" />
    <dubbo:service interface="com.szxs.service.TActivityphotosService" ref="tActivityphotosService" protocol="dubbo" />

    <bean name="tTheportalService" class="com.szxs.service.impl.TTheportalServiceImpl" />
    <dubbo:service interface="com.szxs.service.TTheportalService" ref="tTheportalService" protocol="dubbo" />

    <bean name="userService" class="com.szxs.service.impl.UserServiceImpl" />
    <dubbo:service interface="com.szxs.service.UserService" ref="userService" protocol="dubbo" />
    <bean name="tdevuserService" class="com.szxs.service.impl.TdevuserServiceImpl" />
    <dubbo:service interface="com.szxs.service.TdevuserService" ref="tdevuserService" protocol="dubbo" />
    <bean name="tDictionaryService" class="com.szxs.service.impl.TDictionaryServiceImpl" />
    <dubbo:service interface="com.szxs.service.TDictionaryService" ref="tDictionaryService" protocol="dubbo" />
    <bean name="agentService" class="com.szxs.service.impl.AgentServiceImpl" />
    <dubbo:service interface="com.szxs.service.AgentService" ref="agentService" protocol="dubbo" />

    <bean name="tCityService" class="com.szxs.service.impl.TCityServiceImpl" />
    <dubbo:service interface="com.szxs.service.TCityService" ref="tCityService" protocol="dubbo" />
    <context:component-scan base-package="com.szxs.service"/>
    <!--配置数据源 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
        <property name="username" value="mshs"/>
        <property name="password" value="mshspwd"/>

    </bean>
    <bean name="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean" >
        <property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage" value="com.szxs.entity" />
        <property name="mapperLocations" value="classpath:xml/*.xml" />
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.szxs.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSession" />
    </bean>
</beans>